# Проект команды 306 - Проектный семинар

Состав команды:


1.   Алиев Хайрутдин Аллилович
2.   Зубов Дмитрий Сергеевич
3. Курбанов Иван Сергеевич
4. Лухнев Игорь Дмитриевич
5. Шишков Максим Алексеевич

## TL;DR


---
В данном документе проводится исследовательский анализ данных, а также обогащение данных для дальнейшего обучения


---


## Старт проекта

Ниже ячейка для установки отсутствующих пакетов через `pip`

In [226]:
# Use !pip install -q [your-package]
!pip install -q PyGithub
!pip install -q --upgrade google-api-python-client
!pip install -q github-contents
!pip install -q fsspec

Следующая ячейка для импорта установленных пакетов в проект

In [227]:
# use aliases for long names
import os
import requests
from github import Github as gh
from getpass import getpass
import re
import pandas as pd
import numpy as np
import base64
from io import StringIO
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag
from collections import Counter
from nltk import download
import seaborn as sns
from matplotlib import pyplot as plt

download('stopwords')
download('punkt')
download('averaged_perceptron_tagger')
download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

## Загрузка данных

Наша выборка сейчас лежит в репозитории проекта на GitHub - нам необходимо её загрузить в проект, чтобы вести с ней работу в дальнейшем.

Нейминг файлов: 'ff' + 'children'/'m'/'w' + 'item'/'sale'

    children - детский раздел

    m - мужской раздел

    w - женский раздел

    items - регулярный каталог

    sale - скидки


Описание полей в csv-файлов:


*   ffcollection - коллекция (Новый сезон - New Season, Предзаказ - Pre-Order, NaN - другое)
*   Brand - название брэнда
* Short_descr - краткое описание товара
* Final_Price - цена с учетом скидок
* avSizes - доступные размеры
* img - ссылка на изображение
* Discount - размер скидки в процентах
* Total_Price - цена товара
* cat - верхнеуровневая категория (обувь, одежда, аксессуары)

### Подключение к репозиторию через API GitHub

Запросим у пользователя его креды для подключения к репозиторию

In [228]:
login = input('Enter your login: ')
password = getpass('Enter the secret value: ')

Enter your login: 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
Enter the secret value: ··········

Подключаемся тогда, работаем, так сказать

In [229]:
repo_path = "IgorLukhnev/FarFetchRS"
# Запишем токен в переменную окружения
g_token = os.getenv('GITHUB_TOKEN', password)
# Вополним коннект
g = gh(g_token)
# Подключимся к репо
repo = g.get_repo(repo_path)
# Создаем объект для чтения файлов

Гуляя по репозиторию, скачиваем данные, но только те, что имеют правильный нейминг.

In [230]:
# Получаем содержание папки с данными
files = dict()
contents = repo.get_contents("Data")
for f in contents:
    if f.type != 'dir':
        print(f'{f.path} is reading')
        files[f.path] = pd.read_csv(StringIO(base64.b64decode(repo.get_git_blob(f.sha).content).decode("utf8")))

Data/citems.csv is reading
Data/ffchildrensale.csv is reading
Data/ffmsale.csv is reading
Data/ffwitems.csv is reading
Data/ffwsale.csv is reading
Data/mitems.csv is reading

## Начнем писать функции для преобразования текста

Функция для перевода частей речи, определяемых tager'ом, в знакомый для лемматайзера формат

In [231]:
def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

Каждое описание токенизируем:


1.   приводим к нижнему регистру
2.   разбиваем текст на слова
3. выкидываем слова с цифрами или стоп-списка
4. определяем части речи
5. лемматизируем слова (отбрасываем леммы), указав часть речи
6. превращаем набор токенов вновь в текст

In [232]:
def preprocess(text, solution='simple'):
    txt = text.lower().split()
    for word in txt:
        if word.isdigit() or word in stopwords.words('english'): 
            txt.remove(word)
    text = ' '.join(txt)

    lemmatizer = WordNetLemmatizer()

    pos = pos_tag(word_tokenize(text))
    lemmatized = [lemmatizer.lemmatize(tag[0], get_wordnet_pos(tag[1])) for idx, tag in enumerate(pos)]
    return " ".join(lemmatized) if solution != 'simple' else ' '.join(tag[0] for tag in pos if tag[1].startswith('N'))

Функция для выбора более популярного слова из списка

In [233]:
def find_popular(word_cnt, word_list):
    w2c = [word_cnt[w] for w in word_list]
    if len(w2c) > 0:
        idx, _ = max(enumerate(w2c), key=lambda x: x[1])
        return word_list[idx]
    else:
        return None

### Самое популярное существительное в описании

Напишем функцию для классификации, используя популярнейшие существительные среди всех слов в описаниях внутри укрупненной укатегории

In [234]:
def class_by_popular_word(df, target='Short_descr', cat='cat', new_col='category1'):
    # получаем список укрупненных категорий
    categories = df[cat].unique()
    # начинаем обрабатывать каждую категорию в отдельности
    df[new_col] = 'unknown'
    for c in categories:
        print(f'Processing {c}')
        print(f'Now unknown = {(df[new_col] == "unknown").sum()}')
        # сформируем постоянную маску для индексов
        idx_mask = df[cat] == c
        word_cnt = Counter(' '.join(df.loc[idx_mask, target].apply(lambda x: preprocess(x))).split())
        # print(df.loc[idx_mask, target].apply(lambda x: preprocess(x)))
        # print(df.loc[idx_mask, target].apply(lambda x: preprocess(x).split()).apply(lambda x: find_popular(word_cnt, x)))
        df.loc[idx_mask, new_col] = df.loc[idx_mask, target].apply(lambda x: preprocess(x).split()).apply(lambda x: find_popular(word_cnt, x))
        print((df[new_col] == 'unknown').sum())

Применяем написанный алгоритм

In [235]:
for f in files:
    print(f'Processing file {f}')
    class_by_popular_word(files[f])

Processing file Data/citems.csv
Processing accessories
Now unknown = 70171
67900
Processing clothing
Now unknown = 67900
41730
Processing shoes
Now unknown = 41730
36376
Processing mocassins
Now unknown = 36376
36334
Processing boots
Now unknown = 36334
35839
Processing coats
Now unknown = 35839
35409
Processing jackets
Now unknown = 35409
33556
Processing moccasins
Now unknown = 33556
33553
Processing shorts
Now unknown = 33553
31020
Processing swimwear
Now unknown = 31020
29777
Processing tops
Now unknown = 29777
14876
Processing tracksuits
Now unknown = 14876
13861
Processing trainers
Now unknown = 13861
10986
Processing trousers
Now unknown = 10986
8376
Processing jumpsuits
Now unknown = 8376
8237
Processing denim
Now unknown = 8237
7708
Processing dresses
Now unknown = 7708
4468
Processing skirts
Now unknown = 4468
3751
Processing nursery
Now unknown = 3751
3126
Processing bags
Now unknown = 3126
3038
Processing babywear
Now unknown = 3038
1584
Processing brogues
Now unknown = 1584
1565
Processing pajamas
Now unknown = 1565
1414
Processing sandals
Now unknown = 1414
617
Processing slippers
Now unknown = 617
568
Processing strollers
Now unknown = 568
556
Processing ballerinas
Now unknown = 556
257
Processing bibs
Now unknown = 257
172
Processing blankets,
Now unknown = 172
82
Processing bottles
Now unknown = 82
22
Processing toys
Now unknown = 22
0
Processing file Data/ffchildrensale.csv
Processing clothing
Now unknown = 28585
9149
Processing trousers
Now unknown = 9149
8427
Processing tops
Now unknown = 8427
3264
Processing dresses
Now unknown = 3264
2732
Processing skirts
Now unknown = 2732
2698
Processing coats
Now unknown = 2698
2654
Processing accessories
Now unknown = 2654
2148
Processing swimwear
Now unknown = 2148
2106
Processing jackets
Now unknown = 2106
2035
Processing boots
Now unknown = 2035
2034
Processing shoes
Now unknown = 2034
74
Processing nursery
Now unknown = 74
0
Processing file Data/ffmsale.csv
Processing shoes
Now unknown = 43608
37009
Processing clothing
Now unknown = 37009
3225
Processing acccessories
Now unknown = 3225
598
Processing bags
Now unknown = 598
58
Processing watches
Now unknown = 58
0
Processing file Data/ffwitems.csv
Processing clothing
Now unknown = 151398
72074
Processing shoes
Now unknown = 72074
46537
Processing bags
Now unknown = 46537
28245
Processing accessories
Now unknown = 28245
10693
Processing jewellery
Now unknown = 10693
0
Processing file Data/ffwsale.csv
Processing clothing
Now unknown = 74721
23866
Processing shoes
Now unknown = 23866
13666
Processing bags
Now unknown = 13666
6822
Processing accessories
Now unknown = 6822
3185
Processing jewellery
Now unknown = 3185
0
Processing file Data/mitems.csv
Processing clothing
Now unknown = 96065
39150
Processing shoes
Now unknown = 39150
19422
Processing watches
Now unknown = 19422
18360
Processing acccessories
Now unknown = 18360
4163
Processing bags
Now unknown = 4163
0

Посмотрим на результаты

In [236]:
for f in files:
    print(files[f].sample(10))

      ffcollection                  Brand                        Short_descr  \
42916          NaN           Versace Kids                 straight-leg jeans
56498   New Season                   Molo     Pups-print high-waist leggings
37810   New Season         Dsquared2 Kids                 logo-print T-shirt
22507   New Season              Monnalisa     heart-print cat-eye sunglasses
7336           NaN         Moncler Enfant          logo print padded jacket
744            NaN             Fendi Kids      logo-embroidered babygrow set
41702          NaN   Dolce & Gabbana Kids  embroidered logo long-sleeve body
28478          NaN             Gucci Kids             stripe-detail cardigan
38649   New Season  Stella McCartney Kids          colour-block denim skirt
54816          NaN            Jordan Kids       Air Jordan 13 Retro sneakers

      Total_Price Discount Final_Price  \
42916        $296      -0%        $296
56498         $43      -0%         $43
37810        $175      -0%        $175
22507        $119      -0%        $119
7336         $785      -0%        $785
744          $459      -0%        $459
41702        $212      -0%        $212
28478        $720      -0%        $720
38649         $91      -0%         $91
54816        $200      -0%        $200

                                                     img agecat          cat  \
42916  https://cdn-images.farfetch-contents.com/16/38...  child        denim
56498  https://cdn-images.farfetch-contents.com/18/00...  child     trousers
37810  https://cdn-images.farfetch-contents.com/17/94...   teen     clothing
22507  https://cdn-images.farfetch-contents.com/17/39...  child  accessories
7336   https://cdn-images.farfetch-contents.com/17/14...  child     clothing
744    https://cdn-images.farfetch-contents.com/15/97...   baby     clothing
41702  https://cdn-images.farfetch-contents.com/17/06...   baby     babywear
28478  https://cdn-images.farfetch-contents.com/15/81...  child     clothing
38649  https://cdn-images.farfetch-contents.com/18/03...   teen       skirts
54816  https://cdn-images.farfetch-contents.com/15/49...  child     trainers

      gender   category1
42916      m       jeans
56498      m    leggings
37810      u     t-shirt
22507      u  sunglasses
7336       m       print
744        m         set
41702      m        body
28478      u    cardigan
38649      u       skirt
54816      m    sneakers
               ffcollection                  Brand  \
6430                    NaN    Emporio Armani Kids
17763                   NaN      Ralph Lauren Kids
13182                   NaN              MSGM Kids
16142  Positively Conscious            Camper Kids
6241                    NaN  Tommy Hilfiger Junior
22929                   NaN       Palm Angels Kids
9654             Final Sale              Monnalisa
9822                    NaN    Karl Lagerfeld Kids
24590  Positively Conscious            Camper Kids
25201                   NaN          Premiata Kids

                                  Short_descr Total_Price Discount  \
6430     crocodile print long-sleeved T-shirt        $103     -35%
17763             logo embroidered polo shirt         $98     -55%
13182             faux-leather cargo trousers        $200     -40%
16142              Dadda FW leather sneakers          $80     -30%
6241                           slim-cut jeans         $83     -30%
22929            teddy bear-print track pants        $303     -40%
9654             Teddy Polaroid print T-shirt        $147     -70%
9822   logo-embroidered zip-up bomber jacket         $171     -35%
24590                    Brutus lace-up boots        $110     -30%
25201          lace-up embroidered logo boots        $187     -20%

      Final_Price        avSizes  \
6430          $67  See all sizes
17763         $44  See all sizes
13182        $112  See all sizes
16142         $56  See all sizes
6241          $58  See all sizes
22929        $182  See all sizes
9654          $44  See all sizes
9822         $111  See all sizes
24590         $77  See all sizes
25201        $150  See all sizes

                                                     img       cat category1
6430   https://cdn-images.farfetch-contents.com/14/35...      tops   t-shirt
17763  https://cdn-images.farfetch-contents.com/14/57...  clothing      logo
13182  https://cdn-images.farfetch-contents.com/17/33...  trousers  trousers
16142  https://cdn-images.farfetch-contents.com/16/75...     shoes  sneakers
6241   https://cdn-images.farfetch-contents.com/17/39...  clothing     jeans
22929  https://cdn-images.farfetch-contents.com/17/10...  clothing     track
9654   https://cdn-images.farfetch-contents.com/17/31...      tops   t-shirt
9822   https://cdn-images.farfetch-contents.com/17/38...  clothing    jacket
24590  https://cdn-images.farfetch-contents.com/16/75...     shoes     boots
25201  https://cdn-images.farfetch-contents.com/15/97...  clothing     boots
      ffcollection              Brand                           Short_descr  \
35683          NaN         Ader Error        stonewashed straight-leg jeans
17541   Final Sale             AMBUSH                  double crossbody bag
36924          NaN       Stone Island          logo-print drawstring shorts
11904          NaN     Emporio Armani  metallic feather-down puffer jacket
36866          NaN             Mykita         ML03 aviator-frame sunglasses
15444          NaN            Doublet    Painting print faux-shearling coat
3814           NaN  Drôle De Monsieur         panelled zip-up bomber jacket
22599          NaN               ETRO              paisley-print polo shirt
6384    Final Sale          Dsquared2  stripe-detail drawstring track pants
39222          NaN              Kiton        single-breasted fitted blazer

      Total_Price Discount Final_Price      avSizes  \
35683        $414     -20%        $331         M, L
17541      $1,305     -60%        $522     One Size
36924        $288     -20%        $230            S
11904        $543     -20%        $429       L, XXL
36866        $968     -20%        $774            L
15444      $1,543     -30%      $1,080            S
3814         $477     -30%        $334      S, M, L
22599        $370     -60%        $148         S, M
6384         $715     -40%        $429  S, M, L, XL
39222      $7,262     -30%      $4,854            L

                                                     img           cat  \
35683  https://cdn-images.farfetch-contents.com/17/62...      clothing
17541  https://cdn-images.farfetch-contents.com/16/87...          bags
36924  https://cdn-images.farfetch-contents.com/16/71...      clothing
11904  https://cdn-images.farfetch-contents.com/17/55...      clothing
36866  https://cdn-images.farfetch-contents.com/16/78...  acccessories
15444  https://cdn-images.farfetch-contents.com/17/06...      clothing
3814   https://cdn-images.farfetch-contents.com/17/50...      clothing
22599  https://cdn-images.farfetch-contents.com/17/07...      clothing
6384   https://cdn-images.farfetch-contents.com/16/32...      clothing
39222  https://cdn-images.farfetch-contents.com/17/25...      clothing

        category1
35683       jeans
17541         bag
36924      shorts
11904      jacket
36866  sunglasses
15444       print
3814       jacket
22599       shirt
6384        track
39222      blazer
                ffcollection                  Brand  \
87335                    NaN   Michael Michael Kors
94687             New Season                  Alevì
135242            New Season  Jessica Russell Flint
116566            New Season    MM6 Maison Margiela
80883                    NaN             Balenciaga
48784   Positively Conscious           Acne Studios
94154             New Season               Le Silla
43303   Positively Conscious                Styland
150594            New Season             Rosa Maria
119997                   NaN         Bottega Veneta

                              Short_descr Final_Price          avSizes  \
87335        Keisha studded Chelsea boots        $210    See all sizes
94687              strappy-design sandals        $860    See all sizes
135242          H For Hearts silk eyemask         $53         One Size
116566                  Japanese tote bag        $295         One Size
80883                   Triple S sneakers        $995    See all sizes
48784              Face patch wool jumper        $300  XS, S, M, L, XL
94154                Petalo leather pumps        $729    See all sizes
43303             ribbed-knit cotton vest        $162      XS, S, M, L
150594  sterling-silver pendant necklace         $254         One Size
119997       The Chain Pouch shoulder bag      $3,800         One Size

                                                      img Discount  \
87335   https://cdn-images.farfetch-contents.com/17/44...      -0%
94687   https://cdn-images.farfetch-contents.com/17/88...      -0%
135242  https://cdn-images.farfetch-contents.com/17/52...      -0%
116566  https://cdn-images.farfetch-contents.com/17/94...      -0%
80883   https://cdn-images.farfetch-contents.com/16/77...      -0%
48784   https://cdn-images.farfetch-contents.com/16/01...      -0%
94154   https://cdn-images.farfetch-contents.com/17/82...      -0%
43303   https://cdn-images.farfetch-contents.com/16/65...      -0%
150594  https://cdn-images.farfetch-contents.com/18/06...      -0%
119997  https://cdn-images.farfetch-contents.com/15/39...      -0%

       Total_Price          cat category1
87335         $210        shoes     boots
94687         $860        shoes   sandals
135242         $53  accessories      silk
116566        $295         bags       bag
80883         $995        shoes  sneakers
48784         $300     clothing    jumper
94154         $729        shoes   leather
43303         $162     clothing    cotton
150594        $254    jewellery  necklace
119997      $3,800         bags       bag
      ffcollection                      Brand  \
11229          NaN                  AMI Paris
20555   Final Sale        Honey Fucking Dijon
50             NaN                Marc Jacobs
3901           NaN            Dolce & Gabbana
35371          NaN                 UNDERCOVER
64419          NaN              Louis Vuitton
63765          NaN           Céline Pre-Owned
37237   Final Sale                    Marsèll
71196          NaN  Dolce & Gabbana Pre-Owned
6              NaN                  Off-White

                                  Short_descr Total_Price Discount  \
11229             half-zip ribbed-knit jumper        $644     -30%
20555        x Acne Studios boxy biker jacket      $1,924     -55%
50     The Shutter Colorblocked crossbody bag        $335     -40%
3901           colour-block slit-detail dress      $2,195     -40%
35371       vampire-print crewneck sweatshirt        $332     -40%
64419               2006 pre-owned bucket bag      $2,148      -0%
63765        2000s pre-owned mini beaded tote        $968      -0%
37237              double buckle flat sandals        $658     -60%
71196                 1990s raised seam skirt        $267      -0%
6                side-pleat panelled trousers      $1,060     -50%

      Final_Price                     avSizes  \
11229        $451                 XS, S, M, L
20555        $866            XXS, XS, S, M, L
50           $201                    One Size
3901       $1,317  XS, S, M, L, XL, XXL, XXXL
35371        $199                        S, L
64419      $2,148                    One Size
63765        $968                    One Size
37237        $263               See all sizes
71196        $267                           S
6            $530                       XS, S

                                                     img       cat   category1
11229  https://cdn-images.farfetch-contents.com/16/64...  clothing      jumper
20555  https://cdn-images.farfetch-contents.com/17/61...  clothing      jacket
50     https://cdn-images.farfetch-contents.com/17/10...      bags         bag
3901   https://cdn-images.farfetch-contents.com/16/65...  clothing       dress
35371  https://cdn-images.farfetch-contents.com/17/57...  clothing  sweatshirt
64419  https://cdn-images.farfetch-contents.com/16/82...      bags         bag
63765  https://cdn-images.farfetch-contents.com/12/38...      bags        tote
37237  https://cdn-images.farfetch-contents.com/13/85...     shoes     sandals
71196  https://cdn-images.farfetch-contents.com/14/50...  clothing       skirt
6      https://cdn-images.farfetch-contents.com/17/50...  clothing    trousers
      ffcollection              Brand                        Short_descr  \
89466          NaN  Officine Creative               Vacchetta Strip belt
64695          NaN             AMBUSH         embossed logo chunky boots
22375          NaN    Dolce & Gabbana  leopard-print drawstring trousers
88111          NaN     Oliver Peoples  OV54 tortoiseshell-effect glasses
87434          NaN     Oliver Peoples                    Lachman glasses
78120          NaN              AMIRI      logo-embroidered baseball cap
60038          NaN   Giuliano Galiano           Nemesis lace-up sneakers
85439   Final Sale                IRO                   fine-knit beanie
58666          NaN      Philipp Plein     Runner Iconic low-top sneakers
26810   New Season             Stussy        embroidered logo sweatshirt

      Final_Price               avSizes  \
89466        $150                  S, M
64695        $570         See all sizes
22375      $1,595  XS, S, M, L, XL, XXL
88111        $310                     S
87434        $353                     S
78120        $333              One Size
60038        $260         See all sizes
85439         $97              One Size
58666        $505         See all sizes
26810        $239           S, M, L, XL

                                                     img Discount Total_Price  \
89466  https://cdn-images.farfetch-contents.com/14/32...      -0%        $150
64695  https://cdn-images.farfetch-contents.com/17/55...      -0%        $570
22375  https://cdn-images.farfetch-contents.com/16/65...      -0%      $1,595
88111  https://cdn-images.farfetch-contents.com/15/92...      -0%        $310
87434  https://cdn-images.farfetch-contents.com/14/78...      -0%        $353
78120  https://cdn-images.farfetch-contents.com/17/60...      -0%        $333
60038  https://cdn-images.farfetch-contents.com/15/57...      -0%        $260
85439  https://cdn-images.farfetch-contents.com/16/91...      -0%         $97
58666  https://cdn-images.farfetch-contents.com/17/35...      -0%        $505
26810  https://cdn-images.farfetch-contents.com/17/81...      -0%        $239

                cat   category1
89466  acccessories        belt
64695         shoes       boots
22375      clothing    trousers
88111  acccessories     glasses
87434  acccessories     glasses
78120  acccessories         cap
60038         shoes    sneakers
85439  acccessories      beanie
58666         shoes    sneakers
26810      clothing  sweatshirt

### Обработка чисел

Получилось неплохо - давайте еще исправим несколько моментов: цены переведем в целочисленный формат, размер скидки - в десятичную дробь.

Напишем для этого специальную функцию: она определяет, с чем имеет дело и применяет необходимые правила преобразования

In [237]:
def convert_numbers(txt):
    ret = None
    if re.fullmatch('\$\d*.\d*', txt) is not None: # Проверяем что строка похожа на деньги
        ret = int(re.sub('[\D]', '', txt))
    elif re.fullmatch('[.-]\d{,3}%', txt) is not None: # Проверяем, что строка похожа на проценты
        ret = int(re.sub('[-%]', '', txt)) / 100
    return ret

In [238]:
def convert_values(df, target):
    df.loc[:, target] = df.loc[:, target].apply(lambda x: convert_numbers(x))

Применим наш конвертер ко всем датафреймам

In [239]:
# Создадим список строк, требующих изменения
to_convert = ['Final_Price', 'Discount', 'Total_Price']
# Применяем к каждому датафрейму
for f in files:
    for t in to_convert:
        convert_values(files[f], t)
    print(files[f].sample(10))

               ffcollection                 Brand  \
64584            New Season  Chiara Ferragni Kids
28150                   NaN         Moschino Kids
1241                    NaN            Gucci Kids
3654   Positively Conscious           Camper Kids
58518                   NaN         Tutu Du Monde
17168            New Season              Fay Kids
42785                   NaN        Off-White Kids
17205            New Season         Moschino Kids
20205                   NaN     Ralph Lauren Kids
64130            New Season             Monnalisa

                          Short_descr  Total_Price  Discount  Final_Price  \
64584            logo-printed T-shirt          109       0.0          109
28150               Toy Bear playsuit          460       0.0          460
1241         stripe-trim denim shorts          280       0.0          280
3654    Bicho cut-out leather sandals           76       0.0           76
58518               Sasher tutu dress          221       0.0          221
17168              stripe-print shirt          146       0.0          146
42785        mid-rise straight jeans           446       0.0          446
17205  Teddy bear-print fleece hoodie          205       0.0          205
20205               bear print romper          103       0.0          103
64130            Tweety print T-shirt           88       0.0           88

                                                     img agecat       cat  \
64584  https://cdn-images.farfetch-contents.com/17/39...  child      tops
28150  https://cdn-images.farfetch-contents.com/14/71...  child  clothing
1241   https://cdn-images.farfetch-contents.com/16/57...   baby  clothing
3654   https://cdn-images.farfetch-contents.com/16/07...   baby     shoes
58518  https://cdn-images.farfetch-contents.com/17/32...  child   dresses
17168  https://cdn-images.farfetch-contents.com/18/06...   teen      tops
42785  https://cdn-images.farfetch-contents.com/16/86...  child     denim
17205  https://cdn-images.farfetch-contents.com/18/05...   teen      tops
20205  https://cdn-images.farfetch-contents.com/16/36...   baby  clothing
64130  https://cdn-images.farfetch-contents.com/17/39...  child      tops

      gender category1
64584      u   t-shirt
28150      u  playsuit
1241       m    shorts
3654       m   sandals
58518      u     dress
17168      m     shirt
42785      m     jeans
17205      m    hoodie
20205      u     print
64130      u   t-shirt
               ffcollection                  Brand  \
5107             Final Sale             Kenzo Kids
1246                    NaN                Il Gufo
386                     NaN          Moschino Kids
11843            Final Sale           Balmain Kids
23871                   NaN                 DUOltd
20709                   NaN  Tommy Hilfiger Junior
21335                   NaN              Gcds Kids
21043  Positively Conscious                   Knot
4924                    NaN              Gcds Kids
524                     NaN    Tartine Et Chocolat

                             Short_descr  Total_Price  Discount  Final_Price  \
5107   tiger logo-embroidered sweatshirt          363      0.70        109.0
1246          teddy-motif cotton pajamas          120      0.60         48.0
386         Teddy Bear cotton sweatshirt          331      0.30        232.0
11843      embossed-logo cotton T-Shirt           215      0.60         86.0
23871    checked tapered-leg track pants          240      0.30        168.0
20709                  logo print hoodie           88      0.35         57.0
21335           logo-print denim shorts           192      0.40        115.0
21043  Here And Now slogan-print T-shirt           57      0.30         40.0
4924        logo-print cotton sweatshirt          109      0.30         76.0
524        embroidered long-sleeve dress          180      0.50         90.0

             avSizes                                                img  \
5107   See all sizes  https://cdn-images.farfetch-contents.com/16/78...
1246   See all sizes  https://cdn-images.farfetch-contents.com/16/32...
386    See all sizes  https://cdn-images.farfetch-contents.com/16/81...
11843  See all sizes  https://cdn-images.farfetch-contents.com/16/71...
23871  See all sizes  https://cdn-images.farfetch-contents.com/16/09...
20709  See all sizes  https://cdn-images.farfetch-contents.com/17/18...
21335  See all sizes  https://cdn-images.farfetch-contents.com/15/03...
21043  See all sizes  https://cdn-images.farfetch-contents.com/17/18...
4924   See all sizes  https://cdn-images.farfetch-contents.com/17/29...
524    See all sizes  https://cdn-images.farfetch-contents.com/17/12...

            cat   category1
5107       tops  sweatshirt
1246   clothing      cotton
386    clothing      cotton
11843  clothing      cotton
23871  clothing       track
20709  clothing       print
21335  clothing      shorts
21043      tops     t-shirt
4924   clothing      cotton
524    clothing       dress
      ffcollection                      Brand  \
32431   Final Sale                     Phipps
19337   Final Sale                   Burberry
35338          NaN                 PAUL SMITH
37472          NaN                    Iceberg
32311          NaN             Emporio Armani
41521          NaN               C.P. Company
18598          NaN                       BOSS
28879          NaN                     Theory
26019          NaN  Homme Plissé Issey Miyake
5261           NaN                        424

                                 Short_descr  Total_Price  Discount  \
32431                Vareuse collared jumper          726      0.35
19337  Logo Graphic Striped Nylon Trackpants         1090      0.60
35338       drawstring-waist track trousers           502      0.40
37472       round neck short-sleeved T-shirt          260      0.40
32311  logo-embossed rectangle-frame glasses          142      0.15
41521                   slim fit cargo pants          432      0.40
18598          faux-fur trimmed hooded parka          730      0.30
28879        Milan crew-neck cashmere jumper          484      0.20
26019        striped mesh knee-length shorts          777      0.25
5261         signature Numbers printed socks           35      0.20

       Final_Price        avSizes  \
32431          447        S, M, L
19337          436  S, L, XL, XXL
35338          301           M, L
37472          156              S
32311          121              M
41521          259              M
18598          511           XXXL
28879          387        S, M, L
26019          583              M
5261            28       One Size

                                                     img           cat  \
32431  https://cdn-images.farfetch-contents.com/17/21...      clothing
19337  https://cdn-images.farfetch-contents.com/14/45...      clothing
35338  https://cdn-images.farfetch-contents.com/16/02...      clothing
37472  https://cdn-images.farfetch-contents.com/16/43...      clothing
32311  https://cdn-images.farfetch-contents.com/17/45...  acccessories
41521  https://cdn-images.farfetch-contents.com/17/42...      clothing
18598  https://cdn-images.farfetch-contents.com/17/49...      clothing
28879  https://cdn-images.farfetch-contents.com/17/30...      clothing
26019  https://cdn-images.farfetch-contents.com/16/69...      clothing
5261   https://cdn-images.farfetch-contents.com/17/18...      clothing

      category1
32431    jumper
19337      logo
35338  trousers
37472   t-shirt
32311   glasses
41521     pants
18598     parka
28879    jumper
26019    shorts
5261      socks
                ffcollection                 Brand  \
128808            New Season  Michael Michael Kors
99813             Final Sale            Tila March
10771                    NaN                  MSGM
21398                    NaN            La DoubleJ
28884   Positively Conscious        Rachel Gilbert
104408            New Season                Camper
70424             New Season                 PINKO
67090             New Season       Chiara Ferragni
6924              New Season            Balenciaga
54982                    NaN            La DoubleJ

                                    Short_descr  Final_Price  \
128808                    logo foldover wallet           153
99813   Shoreditch snakeskin effect ballerinas           413
10771               chest-logo crewneck T-shirt          170
21398                  Jennifer Jane midi dress         1015
28884               asymmetric linen maxi dress          772
104408               Right Nina ballerina shoes          155
70424               high-neck tie-back wrap top          225
67090                 Eyelike panel track pants          213
6924                 The Simpsons-print T-shirt          595
54982                        Rouches bikini top          165

                     avSizes  \
128808              One Size
99813          See all sizes
10771   XXS, XS, S, M, L, XL
21398   XXS, XS, S, M, L, XL
28884        XS, S, M, L, XL
104408         See all sizes
70424                S, M, L
67090               XS, S, M
6924           XXS, XS, S, M
54982                  XS, S

                                                      img  Discount  \
128808  https://cdn-images.farfetch-contents.com/17/56...       0.0
99813   https://cdn-images.farfetch-contents.com/16/29...       0.0
10771   https://cdn-images.farfetch-contents.com/17/10...       0.0
21398   https://cdn-images.farfetch-contents.com/17/40...       0.0
28884   https://cdn-images.farfetch-contents.com/16/35...       0.0
104408  https://cdn-images.farfetch-contents.com/17/58...       0.0
70424   https://cdn-images.farfetch-contents.com/17/95...       0.0
67090   https://cdn-images.farfetch-contents.com/18/00...       0.0
6924    https://cdn-images.farfetch-contents.com/17/33...       0.0
54982   https://cdn-images.farfetch-contents.com/13/74...       0.0

        Total_Price          cat   category1
128808          153  accessories      wallet
99813           413        shoes  ballerinas
10771           170     clothing     t-shirt
21398          1015     clothing       dress
28884           772     clothing       dress
104408          155        shoes       shoes
70424           225     clothing         top
67090           213     clothing       track
6924            595     clothing     t-shirt
54982           165     clothing     rouches
      ffcollection                       Brand  \
43869   Final Sale               Roland Mouret
64262          NaN                      Hermès
65931          NaN            Chanel Pre-Owned
70372          NaN  Gianfranco Ferré Pre-Owned
44730          NaN                      Allude
10524   Final Sale                        032c
33011          NaN                       Vince
49952          NaN          Les Girls Les Boys
67745          NaN             Fendi Pre-Owned
61371          NaN                   Dsquared2

                                        Short_descr  Total_Price  Discount  \
43869                           'Salthill' Trousers          995      0.60
64262      2017 pre-owned Constance reversible belt         1389      0.00
65931               Choco Bar Camellia shoulder bag         5006      0.00
70372  1990s contrast stitching tassel leather belt          223      0.00
44730                 fine-knit cashmere cardigan            341      0.25
10524                       logo-plaque track pants          225      0.35
33011             single-breasted tie-waist jacket           707      0.30
49952                       seamless sport leggings          131      0.30
67745                1990s intarsia-logo ribbed top          625      0.00
61371                     logo-underband sports bra          146      0.20

       Final_Price        avSizes  \
43869          398              L
64262         1389              M
65931         5006       One Size
70372          223       One Size
44730          252           S, L
10524          146   XS, M, L, XL
33011          495      XXS, S, L
49952           92              M
67745          625              S
61371          117  See all sizes

                                                     img          cat  \
43869  https://cdn-images.farfetch-contents.com/14/18...     clothing
64262  https://cdn-images.farfetch-contents.com/15/35...  accessories
65931  https://cdn-images.farfetch-contents.com/13/79...         bags
70372  https://cdn-images.farfetch-contents.com/17/27...  accessories
44730  https://cdn-images.farfetch-contents.com/17/06...     clothing
10524  https://cdn-images.farfetch-contents.com/16/79...     clothing
33011  https://cdn-images.farfetch-contents.com/16/50...     clothing
49952  https://cdn-images.farfetch-contents.com/16/67...     clothing
67745  https://cdn-images.farfetch-contents.com/12/96...     clothing
61371  https://cdn-images.farfetch-contents.com/17/26...     clothing

      category1
43869  trousers
64262      belt
65931       bag
70372      belt
44730  cashmere
10524     track
33011    jacket
49952  leggings
67745    ribbed
61371       bra
      ffcollection            Brand  \
53747   New Season        Y/Project
46520   New Season             OAMC
80098          NaN  Dolce & Gabbana
79816          NaN        Off-White
56739   New Season      Thom Browne
53387   New Season       Tagliatore
40226          NaN       Tagliatore
28768          NaN       Loro Piana
18718          NaN        Valentino
32216   New Season          Suicoke

                                             Short_descr  Final_Price  \
53747                  Lazy draped logo-waistband shorts          494
46520                            logo-patch cotton shirt          520
80098                         virgin wool-blend flat cap          265
79816              Passport quote-print travel accessory          330
56739  UNCONSTRUCTED HIGH ARMHOLE SPORT COAT - FIT 3 ...         2900
53387                 double-breasted virgin wool blazer          759
40226                                peaked lapel blazer          656
28768                                cable knit sweater          1723
18718                             lace pocket sweatshirt         1150
32216                           cotton drawstring shorts          195

                 avSizes                                                img  \
53747  XXS, XS, M, L, XL  https://cdn-images.farfetch-contents.com/17/86...
46520           XS, S, M  https://cdn-images.farfetch-contents.com/18/02...
80098               M, L  https://cdn-images.farfetch-contents.com/16/65...
79816           One Size  https://cdn-images.farfetch-contents.com/16/86...
56739   XS, S, M, L, XXL  https://cdn-images.farfetch-contents.com/16/87...
53387         M, L, XXXL  https://cdn-images.farfetch-contents.com/17/87...
40226                  M  https://cdn-images.farfetch-contents.com/13/08...
28768                XXL  https://cdn-images.farfetch-contents.com/11/09...
18718        S, M, L, XL  https://cdn-images.farfetch-contents.com/16/27...
32216       XS, S, M, XL  https://cdn-images.farfetch-contents.com/17/64...

       Discount  Total_Price           cat   category1
53747       0.0          494      clothing      shorts
46520       0.0          520      clothing       shirt
80098       0.0          265  acccessories         cap
79816       0.0          330  acccessories      travel
56739       0.0         2900      clothing        coat
53387       0.0          759      clothing      blazer
40226       0.0          656      clothing      blazer
28768       0.0         1723      clothing        knit
18718       0.0         1150      clothing  sweatshirt
32216       0.0          195      clothing      cotton

### Сохраним результат

In [240]:
for f in files:
    files[f].to_csv('simpleCat/' + f[5:])

### Продолжим анализ данных

Объединим датафреймы

Перед объединением датафреймы нужно привести к одному формату

In [241]:
for f in files:
    if re.fullmatch('Data/.{,2}m.{3,5}\.csv', f):
        print('males: ' + f)
        files[f]['sex'] = 'm'
    elif re.fullmatch('Data/.{,2}w.{3,5}\.csv', f):
        print('females: ' + f)
        files[f]['sex'] = 'w'
    elif re.fullmatch('Data/.{,2}c.*\.csv', f):
        print('children: ' + f)
        if f == 'Data/citems.csv':
            files[f] = files[f].drop(columns=['agecat', 'gender'])
            files[f]['avSizes'] = 'children'
        files[f]['sex'] = 'c'
    print(files[f].columns)

children: Data/citems.csv
Index(['ffcollection', 'Brand', 'Short_descr', 'Total_Price', 'Discount',
       'Final_Price', 'img', 'cat', 'category1', 'avSizes', 'sex'],
      dtype='object')
children: Data/ffchildrensale.csv
Index(['ffcollection', 'Brand', 'Short_descr', 'Total_Price', 'Discount',
       'Final_Price', 'avSizes', 'img', 'cat', 'category1', 'sex'],
      dtype='object')
males: Data/ffmsale.csv
Index(['ffcollection', 'Brand', 'Short_descr', 'Total_Price', 'Discount',
       'Final_Price', 'avSizes', 'img', 'cat', 'category1', 'sex'],
      dtype='object')
females: Data/ffwitems.csv
Index(['ffcollection', 'Brand', 'Short_descr', 'Final_Price', 'avSizes', 'img',
       'Discount', 'Total_Price', 'cat', 'category1', 'sex'],
      dtype='object')
females: Data/ffwsale.csv
Index(['ffcollection', 'Brand', 'Short_descr', 'Total_Price', 'Discount',
       'Final_Price', 'avSizes', 'img', 'cat', 'category1', 'sex'],
      dtype='object')
males: Data/mitems.csv
Index(['ffcollection', 'Brand', 'Short_descr', 'Final_Price', 'avSizes', 'img',
       'Discount', 'Total_Price', 'cat', 'category1', 'sex'],
      dtype='object')

Объединим фреймы в один и сохраним его

In [242]:
all_data = pd.concat([files[x] for x in files], ignore_index=True)
all_data.to_csv('simpleCat/full_data.csv')

Посмотрим на полноту данных

In [243]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464548 entries, 0 to 464547
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ffcollection  220959 non-null  object
 1   Brand         464548 non-null  object
 2   Short_descr   464548 non-null  object
 3   Total_Price   464548 non-null  int64
 4   Discount      464548 non-null  float64
 5   Final_Price   464547 non-null  float64
 6   img           464547 non-null  object
 7   cat           464548 non-null  object
 8   category1     463257 non-null  object
 9   avSizes       464548 non-null  object
 10  sex           464548 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 39.0+ MB

Почистим данные, оставив только те, в детальной категории которых хотя бы 1000 товаров

In [244]:
to_work = all_data['category1'].value_counts()[all_data['category1'].value_counts() >= 1000]

In [245]:
to_work_data = all_data.loc[all_data['category1'].apply(lambda x: x in to_work), :].copy()

In [246]:
# to_work_data.loc[~to_work_data['avSize'].isna(), 'avSizes'] = to_work_data.loc[~to_work_data['avSize'].isna(), 'avSize']
# to_work_data.drop(columns=['avSize'], inplace=True)
to_work_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418948 entries, 0 to 464546
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ffcollection  201295 non-null  object
 1   Brand         418948 non-null  object
 2   Short_descr   418948 non-null  object
 3   Total_Price   418948 non-null  int64
 4   Discount      418948 non-null  float64
 5   Final_Price   418948 non-null  float64
 6   img           418948 non-null  object
 7   cat           418948 non-null  object
 8   category1     418948 non-null  object
 9   avSizes       418948 non-null  object
 10  sex           418948 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 38.4+ MB

Заполним nan-значения:

    ffcollection -> 'unknown'
    Total_Price -> Final_Price / (1 - Discount)
    Final_Price -> Total_Price * (1 - Discount)

In [247]:
to_work_data['ffcollection'].fillna('unknown', inplace=True)
tp_mask = to_work_data['Total_Price'].isna()
to_work_data.loc[tp_mask, 'Total_Price'] = to_work_data.loc[tp_mask, 'Final_Price'] / (1 - to_work_data.loc[tp_mask, 'Discount'])
to_work_data.loc[tp_mask, 'Final_Price'] = to_work_data.loc[tp_mask, 'Total_Price'] * (1 - to_work_data.loc[tp_mask, 'Discount'])
to_work_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418948 entries, 0 to 464546
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ffcollection  418948 non-null  object
 1   Brand         418948 non-null  object
 2   Short_descr   418948 non-null  object
 3   Total_Price   418948 non-null  float64
 4   Discount      418948 non-null  float64
 5   Final_Price   418948 non-null  float64
 6   img           418948 non-null  object
 7   cat           418948 non-null  object
 8   category1     418948 non-null  object
 9   avSizes       418948 non-null  object
 10  sex           418948 non-null  object
dtypes: float64(3), object(8)
memory usage: 38.4+ MB

У нас есть товары, для которых неизвестна цена - предлагается исключить их из выборки

In [248]:
to_work_data.drop(index=to_work_data[to_work_data['Total_Price'].isna()].index, inplace=True)
to_work_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418948 entries, 0 to 464546
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ffcollection  418948 non-null  object
 1   Brand         418948 non-null  object
 2   Short_descr   418948 non-null  object
 3   Total_Price   418948 non-null  float64
 4   Discount      418948 non-null  float64
 5   Final_Price   418948 non-null  float64
 6   img           418948 non-null  object
 7   cat           418948 non-null  object
 8   category1     418948 non-null  object
 9   avSizes       418948 non-null  object
 10  sex           418948 non-null  object
dtypes: float64(3), object(8)
memory usage: 54.5+ MB

In [249]:
to_work_data.to_csv('simpleCat/final_data.csv')